Source: twilight
Section: contrib/games
Priority: optional
Maintainer: Joseph Carter <knghtbrd@debian.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.6

Package: twilight
Architecture: any
Depends: ${shlibs:Depends}, libgl1
Description: first person 3D game
 Project Twilight is a game project based on the Quake(R) engine source
 code using OpenGL.  It is greatly enhanced over Id Software's original,
 but is in no way supported by Id Software, Inc.  It is fully compatible
 with the original game.

